@import url(./reset.css);

#mobileWrap{position:relative; overflow:hidden; top:50%; left:50%; width:375px; height:812px; font-family: "Pretendard", "맑은 고딕", "Malgun Gothic", sans-serif; transform:translate(-50%, -50%);}
#mobileWrap .content {z-index:1;overflow:hidden;position:absolute;width:375px;height:812px;background:#fff;border:7px solid black;box-sizing:border-box;border-radius:50px;}
#mobileWrap .content > .scroll{display:block; overflow-x:hidden; overflow-y:auto; position:relative; /*margin-left:-2px;*/ /*width:382px;*/ height:100%;}
#mobileWrap .content > .scroll::-webkit-scrollbar {display: none;}
#mobileWrap .content .scrollDiv {display: block; position:relative;}

.scrollDiv {position: relative; width: 100%; overflow: hidden;}

header {z-index: 1; position: absolute; left: 0; top: 0; right: 0; width: 100%; height: 80px; transition: top .3s ease;}
header a {display: block; width: 100%;}
header a img {width: 100%;}
header.active {top: -80px;}

.body {position: relative; width: 100%;}
.body img {width: 100%;}

footer {position: relative; width: 100%;}
footer a {display: block; width: 100%;}
footer img {width: 100%;}