@charset "UTF-8";

/* font settings - Start */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css'); */

/* Pretendard */
@font-face {
  font-family: "Pretendard_Black";
  src: url(../fonts/Pretendard-Black.eot);
  src: url(../fonts/Pretendard-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Black.woff2) format("woff2"), url(../fonts/Pretendard-Black.woff) format("woff"), url(../fonts/Pretendard-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_ExtraBold";
  src: url(../fonts/Pretendard-ExtraBold.eot);
  src: url(../fonts/Pretendard-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard-ExtraBold.woff) format("woff"), url(../fonts/Pretendard-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Bold";
  src: url(../fonts/Pretendard-Bold.eot);
  src: url(../fonts/Pretendard-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff"), url(../fonts/Pretendard-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_SemiBold";
  src: url(../fonts/Pretendard-SemiBold.eot);
  src: url(../fonts/Pretendard-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard-SemiBold.woff) format("woff"), url(../fonts/Pretendard-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Medium";
  src: url(../fonts/Pretendard-Medium.eot);
  src: url(../fonts/Pretendard-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff"), url(../fonts/Pretendard-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Regular";
  src: url(../fonts/Pretendard-Regular.eot);
  src: url(../fonts/Pretendard-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff"), url(../fonts/Pretendard-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Light";
  src: url(../fonts/Pretendard-Light.eot);
  src: url(../fonts/Pretendard-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard-Light.woff) format("woff"), url(../fonts/Pretendard-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_ExtraLight";
  src: url(../fonts/Pretendard-ExtraLight.eot);
  src: url(../fonts/Pretendard-ExtraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-ExtraLight.woff2) format("woff2"), url(../fonts/Pretendard-ExtraLight.woff) format("woff"), url(../fonts/Pretendard-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard_Thin";
  src: url(../fonts/Pretendard-Thin.eot);
  src: url(../fonts/Pretendard-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard-Thin.woff) format("woff"), url(../fonts/Pretendard-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* Pretendard */


/* HankookKR */
@font-face {
  font-family: "HankookKRLight";
  src: url(../fonts/HankookKRLight.eot);
  src: url(../fonts/HankookKRLight.eot?#iefix) format("embedded-opentype"), url(../fonts/HankookKRLight.woff2) format("woff2"), url(../fonts/HankookKRLight.woff) format("woff"), url(../fonts/HankookKRLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HankookKRRegular";
  src: url(../fonts/HankookKRRegular.eot);
  src: url(../fonts/HankookKRRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/HankookKRRegular.woff2) format("woff2"), url(../fonts/HankookKRRegular.woff) format("woff"), url(../fonts/HankookKRRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* HankookKR */

/* Hankook */
@font-face {
  font-family: "HankookRegular";
  src: url(../fonts/HankookRegular.eot);
  src: url(../fonts/HankookRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/HankookRegular.woff2) format("woff2"), url(../fonts/HankookRegular.woff) format("woff"), url(../fonts/HankookRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HankookSemibold";
  src: url(../fonts/HankookSemibold.eot);
  src: url(../fonts/HankookSemibold.eot?#iefix) format("embedded-opentype"), url(../fonts/HankookSemibold.woff2) format("woff2"), url(../fonts/HankookSemibold.woff) format("woff"), url(../fonts/HankookSemibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Hankook */

@font-face {
  font-family: "HDfont-Bold";
  src: url(../fonts/HDHyundaiOTF-Bold.eot);
  src: url(../fonts/HDHyundaiOTF-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HDHyundaiOTF-Bold.woff) format("woff"), url(../fonts/HDHyundaiOTF-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HDfont-Medium";
  src: url(../fonts/HDHyundaiOTF-Medium.eot);
  src: url(../fonts/HDHyundaiOTF-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/HDHyundaiOTF-Medium.woff) format("woff"), url(../fonts/HDHyundaiOTF-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HDfont-Light";
  src: url(../fonts/HDHyundaiOTF-Light.eot);
  src: url(../fonts/HDHyundaiOTF-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/HDHyundaiOTF-Light.woff) format("woff"), url(../fonts/HDHyundaiOTF-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* font settings - End */